extends layout.pug

block content
    div.container
        div.row
            div.col
                h1.text-center.mt-5.p-5
                    | #{title}
                table.table.table-hover
                    thead.table-dark
                        tr
                        th(scope='col') Id
                        th(scope='col') Nom
                        th(scope='col') Email
                        th(scope='col') Tel
                        th(scope='col') Action
                    tbody
                      each user in users
                        tr
                          th(scope='row') #{user.id}
                          td #{user.name}
                          td #{user.email}
                          td #{user.tel}
                          td
                            a.delete.text-decoration-none.text-danger(href='#' title='Supprimer' data-toggle='tooltip')
                                i.fa-solid.fa-trash-can.my-3
                                ||
                                ||
                            a.edit.text-decoration-none.text-dark(href='#' title='Modifier' data-toggle='tooltip')
                                i.fa-solid.fa-pen-to-square
                            